@import '../../../../styles.scss';

.group {
    width: 90%;
    height: 730px;
    margin: 20px;
    background-color: $form-background;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;

    &__title {
        text-align: center;
    }

    &__header {
        height: 20%;
        border: 1px solid rgb(0, 0, 0, .2);
        border-radius: 15px;
    }

    &__main {
        height: 80%;
        border: 1px solid rgb(0, 0, 0, .2);
        border-radius: 15px;
        overflow: auto
    }

    &__list {
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid rgb(0, 0, 0, .2);
        border-radius: 15px;
        padding: 10px;
    }

}