@import '../../../../styles.scss';

.group {
    width: 80%;
    height: 730px;
    margin: 20px;
    background-color: $form-background;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: relative;

    &__title {
        text-align: center;
        color: $black;
        font-size: 1.125rem;
        font-weight: 700;
        margin: 0 0 20px 0;
    }

    &__header {
        border: 1px solid rgb(0, 0, 0, .2);
        border-radius: 15px;
        padding: 20px;

    }

    &__box-create {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(0, 0, 0, .2);
        font-size: 1rem;
        font-weight: 500;
    }

    &__box-update {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(0, 0, 0, .2);
        font-size: 1rem;
        font-weight: 500;
        margin: 0 0 20px 0;
    }

    &__form {
        padding: 20px;
    }

    &__label {
        margin-left: 10px;
        color: $font-grey;
        font-size: 1rem;
        margin-bottom: 2px;
    }

    &__input {
        box-sizing: border-box;
        padding: 0 10px;
        border: none;
        border-radius: 10px;
        background-color: $input-background;
        width: 50%;
        height: 30px;
    }


    &__main {
        height: 80%;
        border: 1px solid rgb(0, 0, 0, .2);
        border-radius: 15px;
        overflow: auto;
    }

    &__list {
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid rgb(0, 0, 0, .2);
        border-radius: 15px;
        padding: 10px;
    }

    &__link {
        text-decoration: none;
        color: black;
    }

    &__link:hover {
        font-weight: 700;
    }

    &__btn {
        cursor: pointer;
        border-radius: 5px;
        align-self: flex-end;
        border: none;
        color: $white-color;
        background-color: $blue-color;
        width: 50px;
        height: 27px;
        box-shadow: 5px 0px 3px $blue-color;
        transition: .5s;
        font-size: .75rem;
        font-weight: 400;
        margin: 0 0 0 15px;

        &:hover {
            background-color: $blue-color-hover;
            box-shadow: 5px 0px 3px $blue-color-hover;
        }

        }

        &__btn:disabled {
            background-color: $font-grey;
            box-shadow: 5px 0px 3px $font-grey;

        }
    &__btn_add,
    &__btn_delete,
    &__btn_update {
        border: none;
        background: inherit;
        cursor: pointer;
        font-weight: 700;
    }

    &__btn-disabled {
        border: none;
        background: inherit;
        cursor: not-allowed;
    }

    &__btn-img-disabled {
        opacity: .3;
        background-image: url('../../../../assets/icon-group-update.png');
        background-size: 30px 30px;
        width: 30px;
        height: 30px;
    }

    &__btn-add-img {
        background-image: url('../../../../assets/icon-add-group.png');
        background-size: 30px 30px;
        width: 30px;
        height: 30px;
    }
    &__btn-delete-img {
        background-image: url('../../../../assets/icons-group-delete.png');
        background-size: 20px 20px;
        width: 20px;
        height: 20px;
    }

    &__btn-update-img {
        background-image: url('../../../../assets/icon-group-update.png');
        background-size: 30px 30px;
        width: 30px;
        height: 30px;
    }

    &____error-container {
        display: flex;
    }
    &__error-message {
        color: $red;
        margin-left: 10px;
        font-size: 0.8rem;
    }

    &__popup-delete {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200px;
        height: 100px;
        margin: -50px 0 0 -100px;
        padding: 20px 0;
        border-radius: 15px;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background: rgb(201, 198, 198);
        color: black;
        font-weight: 700;
    }

    &__popup-box-btn {
        display: flex;
    }

    &__popup-btn {
        cursor: pointer;
        border-radius: 5px;
        align-self: flex-end;
        border: none;
        color: $white-color;
        background-color: $blue-color;
        width: 50px;
        height: 27px;
        box-shadow: 5px 0px 3px $blue-color;
        transition: .5s;
        font-size: .75rem;
        font-weight: 400;

        &:hover {
            background-color: $blue-color-hover;
            box-shadow: 5px 0px 3px $blue-color-hover;
        }
    }

    &__form-container {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        height: 80px;
        margin: -100px 0 0 -200px;
        padding: 20px 0;
        border-radius: 15px;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background: rgb(201, 198, 198);
        color: black;
        font-weight: 700;
    }
}