<div class="group">
  <h2 class="group__title">Groups</h2>
  <div class="group__header">
    <div>
      <div class="group__box-create">
        <button (click)="showForm()" class="group__btn_add">
          <div class="group__btn-add-img"></div>
        </button>
        <p>Create new group</p>
      </div>
      <div *ngIf="isShowForm" class="groop__form-container">
        <form
          *ngIf="groupNameForm"
          class="group__form"
          [formGroup]="groupNameForm">
          <label class="group__label" for="group-name"></label>
          <input
            placeholder="Enter the group name"
            formControlName="nameGroup"
            id="group-name"
            type="text"
            class="group__input" />
          <button (click)="createGroup()" class="group__btn">Add</button>
          <button (click)="hideForm()" class="group__btn">Cancel</button>
          <div
            *ngIf="nameGroup.invalid && (nameGroup.dirty || nameGroup.touched)"
            class="group__error-container">
            <span
              *ngIf="nameGroup.errors && nameGroup.errors['required']"
              class="group__error-message"
              >Please enter a details</span
            >
            <span
              *ngIf="nameGroup.errors && nameGroup.errors['maxlength']"
              class="group__error-message"
              >The name exceeds 30 characters</span
            >
            <span
              *ngIf="nameGroup.errors && nameGroup.errors['pattern']"
              class="group__error-message"
              >The name must contain only letters, numbers, or spaces</span
            >
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="group__main">
    <ul *ngIf="groupList$ | async as groupList" class="group__list">
      <li *ngFor="let item of groupList" class="group__item">
        <a class="group__link">{{ item.name.S }}</a>
      </li>
    </ul>
  </div>
</div>
