.favorite__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px
}
.favorite__item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.favorite__title {
    text-align: center;
}

@media (max-width: 1280px) {
    .favorite-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 950px) {
    .favorite-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 750px) {
    .favorite-container {
        grid-template-columns: repeat(1, 1fr);
    }
}