<div class="header__container">
  <div class="header__row">
    <li class="header__link">
      <button (click)="routingToSignUp()" class="header__btn">Signup</button>
    </li>
    <li class="header__link">
      <button (click)="routingToSignIn()" class="header__btn">Signin</button>
    </li>
    <li class="header__link">
      <button (click)="routingToMain()" class="header__btn">Main</button>
    </li>
    <li class="header__link">
      <button (click)="routingToProfile()" class="header__btn">Profile</button>
    </li>
    <li class="header__link">
      <button (click)="routingToGroup()" class="header__btn">Group</button>
    </li>
    <li class="header__link">
      <button (click)="routingToConversation()" class="header__btn">
        Conversation
      </button>
    </li>
  </div>
</div>
