@import '../../../../styles.scss';

.header__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #e5e5e5;
}

.header__link {
    list-style-type: none;
}

.header__row {
    width: 100%;
    max-width: 1200px;
    height: 40px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.header__btn {
    font-weight: 700;
    cursor: pointer;
    color: black;
    border: none;
    background: inherit;
}

.header__container-dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #293133;
    color: beige;
}

.header__btn-dark {
    font-weight: 700;
    cursor: pointer;
    color: white;
    border: none;
    background: inherit;
}

.theme-switcher {
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0, .2);
    padding: 3px 10px;
}