@import '../../../../styles.scss';

.header__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #e5e5e5;

    .header__row {
        width: 100%;
        max-width: 1200px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__link {
        list-style-type: none;

        .header__btn {
            font-weight: 700;
            cursor: pointer;
            color: black;
            border: none;
            background: inherit;
        }
    }
}