$blue-color: #2F80ED;
$blue-color-hover: #5EA2FF;
$input-color: #EFEFEF;
$grey-color: #929292;
$background-color: #E5E5E5;
$white-color: #FFFFFF;
$font-grey: #828282;
$login-background: #F2F2F2;
$black: #000000;
$input-background: #E0E0E0;
$button-back: #27AE60;
$button-back-hover: #2bc26a;
$red: #ff0000
