@import '../../../../styles.scss';

.profile {
    display: grid;
    grid-template-rows: auto auto 1fr;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 700px;
    min-height: 500px;
    margin: 0 auto;
    padding: 40px;
    background: #F2F2F2;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0, .2);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: black;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .profile__btn_logout {
            cursor: pointer;
            border: none;

            .profile__btn_logout-img {
                background-image: url('../../../../assets/icons-logout-profile.png');
                background-size: 30px 30px;
                width: 30px;
                height: 30px;
            }
        }
    }

    &__title {
        margin-bottom: 16px;
        text-align: center;
    }

    &__content {
        border: inherit;
        border-radius: 15px;
        padding: 20px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 16px;
        padding: 20px;
        border: inherit;
        border-radius: 15px;

        li {
            list-style-type: none;
        }
    }



    &__input-wrapper {
        padding: 20px;
        border: inherit;
        border-radius: 15px;

        .profile__input {
            box-sizing: border-box;
            padding: 0 10px;
            border: none;
            border-radius: 10px;
            background-color: $input-background;
            width: 30%;
            min-width: 150px;
            height: 37px;
            margin-bottom: 5px;
        }

        .profile__label {
            margin-left: 10px;
            color: $font-grey;
            font-size: 1rem;
            margin-bottom: 2px;
        }
    }


    &__btn-wrapper {
        display: flex;

        .profile__btn {
            cursor: pointer;
            margin-right: 10px;
            border-radius: 5px;
            margin-top: 25px;
            align-self: flex-end;
            border: none;
            color: $white-color;
            background-color: $blue-color;
            width: 124px;
            box-shadow: 5px 0px 3px $blue-color;
            transition: .5s;
            font-size: .75rem;
            font-weight: 400;
            height: 40px;
            &:hover {
                background-color: $blue-color-hover;
                box-shadow: 5px 0px 3px $blue-color-hover;
            }
        }
        .profile__btn:disabled {
            background-color: $font-grey;
            box-shadow: 5px 0px 3px $font-grey;
        }

    }
}

.profile__error-container {
    display: flex;
}
.profile__error-message {
    color: $red;
    margin-left: 10px;
    font-size: 0.8rem;
}

.profile-dark {
    display: grid;
    grid-template-rows: auto auto 1fr;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 700px;
    min-height: 500px;
    margin: 0 auto;
    padding: 40px;
    background: #293133;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0 0 10px white;
    color: white;
}