<div
  class="profile"
  [ngClass]="currentTheme === 'light' ? 'profile' : 'profile-dark'"
  *ngIf="profile$ | async as profile">
  <div class="profile__header">
    <h2 class="profile__title">User Profile</h2>
    <button (click)="logout()" type="button" class="profile__btn_logout">
      <div class="profile__btn_logout-img"></div>
    </button>
  </div>
  <div class="profile__content">
    <form [formGroup]="editNameForm" (ngSubmit)="onFormSubmit()">
      <ul class="profile__list">
        <li><b>User ID: </b>{{ profile.uid.S }}</li>
        <li><b>Email: </b>{{ profile.email.S }}</li>
        <li>
          <b>Creation Time: </b>{{ profile.createdAt.S | date: 'fullDate' }}
        </li>
        <li><b>User name: </b>{{ profile.name.S }}</li>
      </ul>
      <div *ngIf="isEditName" class="profile__input-wrapper">
        <label for="name">Edit name: </label>
        <input
          class="profile__input"
          formControlName="name"
          type="text"
          id="name" />

        <div
          class="prolife__error-container"
          *ngIf="name.invalid && (name.dirty || name.touched)">
          <span
            *ngIf="name.errors && name.errors['required']"
            class="profile__error-message"
            >Please enter a first name</span
          >
          <span
            *ngIf="name.errors && name.errors['maxlength']"
            class="profile__error-message"
            >Maximum 40 characters allowed</span
          >
        </div>
      </div>
      <div class="profile__btn-wrapper">
        <ng-container *ngIf="!isEditName">
          <button type="button" (click)="onClickEdit()" class="profile__btn">
            Edit
          </button>
        </ng-container>
        <ng-container *ngIf="isEditName">
          <button class="profile__btn" [disabled]="editNameForm.invalid">
            Save
          </button>
          <button (click)="onClickCancel()" type="button" class="profile__btn">
            Cancel
          </button>
        </ng-container>
      </div>
    </form>
  </div>
</div>
