<mat-card
  *ngIf="item"
  class="card"
  appBorderColor
  [publishAt]="item.snippet.publishedAt">
  <img
    mat-card-image
    class="card__image"
    [src]="item.snippet.thumbnails.high.url"
    width="223px"
    height="123px"
    alt="card" />
  <mat-card-content class="card__content">
    <app-card-icon [item]="item" class="icon-block"></app-card-icon>
  </mat-card-content>

  <mat-card-title class="card__title">{{ item.snippet.title }}</mat-card-title>
  <app-custom-button (click)="onOpenDetailedPageById(item.id)"> more... </app-custom-button>

</mat-card>
