<mat-card
  *ngIf="item"
  class="card"
  appBorderColor
  [publishAt]="item.snippet.publishedAt">
  <img
    mat-card-image
    class="card__image"
    [src]="
      item.etag === 'CustomCard' ? noPhoto : item.snippet.thumbnails.high.url
    "
    width="223px"
    height="123px"
    alt="card" />
  <mat-card-content class="card__content">
    <app-card-icon [item]="item" class="icon-block"></app-card-icon>
  </mat-card-content>

  <button
    *ngIf="item.etag !== 'CustomCard' && !isCardOnFavorites"
    (click)="addCardOnFavoritePage()"
    class="card__link-favorite">
    <img
      class="card__img-favorite"
      src="../../../assets/icon-favorite.png"
      alt="icon" />
  </button>

  <button
    *ngIf="item.etag === 'CustomCard' && item.id"
    (click)="deleteCustomCardCardOnPage(item.id)"
    class="card__link-closed">
    <img
      class="card__img-closed"
      src="../../../assets/icon-closed.png"
      alt="icon" />
  </button>

  <mat-card-title class="card__title">{{ item.snippet.title }}</mat-card-title>
  <app-custom-button (click)="onOpenDetailedPageById(item.id)">
    more...
  </app-custom-button>
</mat-card>
