<main class="signup__container">
    <form class="signup__form">
        <p class="signup__title">Signup</p>
        <div class="signup__field">
            <label for="signup-email" class="signup__label">email</label>
            <input
              id="signup-email"
              type="text"
              class="signup__input"
            />
        </div>
        <div class="signup__field">
            <label for="signup-name" class="signup__label">name</label>
            <input
              id="signup-name"
              type="text"
              class="signup__input"
            />
        </div>
        <div class="signup__field">
            <label for="signup-password" class="signup__label">password</label>
            <input
              id="signup-password"
              type="text"
              class="signup__input"
            />
        </div>
        <button class="signup__btn">SIGNUP</button>
  </form >
</main>
