<main class="signup__container">
  <form [formGroup]="signupForm" (ngSubmit)="submitForm()" class="signup__form">
    <p class="signup__title">Signup</p>

    <div class="signup__field">
      <label for="signup-email" class="signup__label">email</label>
      <input
        formControlName="email"
        id="signup-email"
        type="text"
        class="signup__input" />
      <div
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="signup__error-container">
        <span
          *ngIf="email.errors && email.errors['required']"
          class="signup__error-message"
          >{{ errorMessage }}</span
        >
        <span
          *ngIf="email.errors && email.errors['email']"
          class="signup__error-message"
          >The email is invalid</span
        >
      </div>
    </div>

    <div class="signup__field">
      <label for="signup-name" class="signup__label">name</label>
      <input
        formControlName="name"
        id="signup-name"
        type="text"
        class="signup__input" />
      <div
        *ngIf="name.invalid && (name.dirty || name.touched)"
        class="signup__error-container">
        <span
          *ngIf="name.errors && name.errors['required']"
          class="signup__error-message"
          >{{ errorMessage }}</span
        >
      </div>
    </div>

    <div class="signup__field">
      <label for="signup-password" class="signup__label">password</label>
      <input
        formControlName="password"
        id="signup-password"
        type="text"
        class="signup__input" />
      <div
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="signup__error-container">
        <span
          *ngIf="password.errors && password.errors['required']"
          class="signup__error-message"
          >{{ errorMessage }}</span
        >
        <span
          *ngIf="password.errors && password.errors['validationPassword']"
          class="signup__error-message"
          >{{ password.errors['errorMessage'] }}</span
        >
      </div>
    </div>

    <div class="signup__link-signin">
      <p>If you are already registered</p>
      <button (click)="routingToSignin()">Signin</button>
    </div>

    <p>{{errorMessageSignup}}</p>

    <button
      class="{{ password.invalid ? 'signup__btn-error' : 'signup__btn' }}">
      SIGNUP
    </button>
  </form>
</main>
