<main class="signup__container">
    <form class="signup__form">
        <div class="signup__field">
            <label for="signup-email" class="signup-email-label">email</label>
            <input
              id="signup-email"
              type="text"
              class="signup-email-input"
            />
        </div>
        <div class="signup__field">
            <label for="signup-name" class="signup-name-label">name</label>
            <input
              id="signup-name"
              type="text"
              class="signup-name-input"
            />
        </div>
        <div class="signup__field">
            <label for="signup-password" class="signup-name-label">password</label>
            <input
              id="signup-password"
              type="text"
              class="signup-password-input"
            />
        </div>
    </form>
</main>
