@import '../../../../styles.scss';

.signup__container {
    margin: 50px auto;
}

.signup__form {
    box-sizing: border-box;
    padding: 25px 20px;
    margin: auto;
    width: 30%;
    min-width: 350px;
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: $form-background;
    border-radius: 8px;

    .signup__title {
        color: $black;
        font-size: 1.125rem;
        font-weight: 700;
    }

    .signup__field {
        display: flex;
        flex-direction: column;
        margin: 0 0 15px 0;
    }

    .signup__label {
        margin-left: 10px;
        color: $font-grey;
        font-size: 1rem;
        margin-bottom: 2px;
    }

    .signup__input {
        box-sizing: border-box;
        padding: 0 10px;
        border: none;
        border-radius: 10px;
        background-color: $input-background;
        width: 80%px;
        height: 37px;
        margin-bottom: 5px;
    }

    .signup__btn {
        cursor: pointer;
        margin-right: 10px;
        border-radius: 5px;
        margin-top: 25px;
        align-self: flex-end;
        border: none;
        color: $white-color;
        background-color: $blue-color;
        width: 124px;
        box-shadow: 5px 0px 3px $blue-color;
        transition: .5s;
        font-size: .75rem;
        font-weight: 400;
        height: 40px;

        &:hover {
            background-color: $blue-color-hover;
            box-shadow: 5px 0px 3px $blue-color-hover;
        }
    }
    .signup__btn-error {
        cursor: pointer;
        margin-right: 10px;
        border-radius: 5px;
        margin-top: 25px;
        align-self: flex-end;
        border: none;
        color: $white-color;
        background-color: $font-grey;
        width: 124px;
        box-shadow: 5px 0px 3px $font-grey;
        transition: .5s;
        font-size: .75rem;
        font-weight: 400;
        height: 40px;
    }
}

.signup__error-container {
    display: flex;
}
.signup__error-message {
    color: $red;
    margin-left: 10px;
    font-size: 0.8rem;
}