.header__search-setting,
.header__user {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4F4F4F;
    padding: 0 40px;
}
.header__search-setting {
    width: 70%;
}
.header__user {
    width: 30%;
    position: absolute;
    top: 15;
    right: 0;
}
