<div class="group-details">
  <div class="group-details__title">Group conversation</div>
  <button (click)="deleteGroup()" class="group-details__btn">
    <div class="group-details__btn-delete-img"></div>
  </button>
  <div class="group-details__header">
    <div class="group-details__box-update">
      <button
        [disabled]="timerGroupSubscription | async"
        (click)="updateMessage()"
        [class]="
          (timerGroupSubscription | async)
            ? 'group-details__btn-disabled'
            : 'group-details__btn_update'
        ">
        <div
          [class]="
            (timerGroupSubscription | async)
              ? 'group-details__btn-img-disabled'
              : 'group-details__btn-update-img'
          "></div>
      </button>
      <p>Update message:</p>
      <div *ngIf="timerGroupSubscription | async">
        {{ timerGroupSubscription | async }} second
      </div>
    </div>
    <a class="group-details__link" [routerLink]="['/']">Go to Home</a>
  </div>

  <div class="group-details__main">
    <ul *ngIf="groupMessage$ | async as message" class="group-details__list">
      <li
        *ngFor="let item of message | dateSort"
        [ngClass]="item.authorID.S === uid ? 'message' : 'message-outside'"
        class="message">
        <div class="message__img"></div>
        <div class="message__content">
          <div class="message__header">
            <div class="message__author">
              {{ item.authorID.S | nameUserTransformPipe: peopleList }}
            </div>
            <div class="message__data">
              {{ item.createdAt.S | date: 'medium' }}
            </div>
          </div>
          <div class="message__text">{{ item.message.S }}</div>
        </div>
      </li>
    </ul>
  </div>

  <div class="group-details__footer">
    <form
      *ngIf="groupMessageForm"
      class="group-details__form"
      [formGroup]="groupMessageForm">
      <label class="group-details__label" for="group-message"></label>
      <input
        placeholder="Enter the message"
        formControlName="groupMessageControl"
        id="group-message"
        type="text"
        class="group-details__input" />
      <button
        [ngClass]="
          groupMessageControl.invalid
            ? 'group-details__btn-message-error'
            : 'group-details__btn-message'
        "
        (click)="createMessage()"
        [disabled]="groupMessageControl.invalid"
        class="group-details__btn-message">
        Add
      </button>
    </form>
  </div>
  <div class="group-details__popup-delete" *ngIf="isShowDeleteGroup">
    <p>Are you sure?</p>
    <div class="group-details__popup-box-btn">
      <button
        (click)="confirmDeleteGroup(currentId)"
        class="group-details__popup-btn">
        Yes
      </button>
      <button (click)="noConfirmDeleteGroup()" class="group-details__popup-btn">
        No
      </button>
    </div>
  </div>
</div>
