<main class="login__container">
  <form class="login__form" [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <p class="login__title">Login</p>
    <label for="inputLogin" class="login__label">login</label>
    <input
      id="inputLogin"
      #inputLogin
      type="text"
      class="{{
        login.invalid && (login.dirty || login.touched)
          ? 'login__input-error'
          : 'login__input'
      }}"
      formControlName="login"
      (keyup)="clearErrorMessage()" />
    <div
      *ngIf="login.invalid && (login.dirty || login.touched)"
      class="login__error-container">
      <span
        *ngIf="login.errors && login.errors['required']"
        class="login__error-message"
        >{{ loginErrorMessage }}</span
      >
      <span
        *ngIf="login.errors && login.errors['email']"
        class="login__error-message"
        >The login email is invalid</span
      >
    </div>
    <label for="inputPassword" class="login__label">password</label>
    <input
      id="inputPassword"
      #inputPassword
      type="password"
      class="{{
        password.invalid && (password.dirty || password.touched)
          ? 'login__input-error'
          : 'login__input'
      }}"
      (keyup)="clearErrorMessage()"
      formControlName="password" />
    <div
      *ngIf="password.invalid && (password.dirty || password.touched)"
      class="login__error-container">
      <span
        *ngIf="password.errors && password.errors['required']"
        class="login__error-message"
        >{{ passwordErrorMessage }}</span
      >
      <span
        *ngIf="
          password.errors &&
          password.errors['validationPassword'] &&
          password.errors['validationPassword'].value
        "
        class="login__error-message"
        >{{ password.errors['validationPassword'].errorMessage }}</span
      >
    </div>
    <span class="login__error-message">{{ errorMessage }}</span>
    <button class="{{ password.invalid ? 'login__btn-error' : 'login__btn' }}">
      Login
    </button>
  </form>
</main>
