<div class="people">
  <h2 class="people__title">People</h2>
  <div class="people__header">
    <div class="people__box-update">
      <button
        [disabled]="timerPeopleSubscription | async"
        (click)="updatePeople()"
        [class]="
          (timerPeopleSubscription | async)
            ? 'people__btn-disabled'
            : 'people__btn_update'
        ">
        <div
          [class]="
            (timerPeopleSubscription | async)
              ? 'people__btn-img-disabled'
              : 'people__btn-update-img'
          "></div>
      </button>
      <p>Update people:</p>
      <div *ngIf="timerPeopleSubscription | async">
        {{ timerPeopleSubscription | async }} second
      </div>
    </div>
  </div>
  <div class="people__main">
    <ul *ngIf="peopleList$ | async as peopleList" class="people__list">
      <li
        *ngFor="let item of peopleList"
        [ngClass]="{
          people__companions:
            item.uid.S | companionsColorPipe: peopleConversationList
        }"
        class="people__item">
        <button
          (click)="openPeopleConversation(item.uid.S)"
          class="people__btn-link">
          {{ item.name.S }}
        </button>
      </li>
    </ul>
  </div>
</div>
