<main class="signin__container">
  <form [formGroup]="signinForm" (ngSubmit)="submitForm()" class="signin__form">
    <p class="signin__title">Signin</p>

    <div class="signin__field">
      <label for="signin-email" class="signin__label">email</label>
      <input
        formControlName="email"
        id="signin-email"
        type="text"
        class="signin__input" />
      <div
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="signin__error-container">
        <span
          *ngIf="email.errors && email.errors['required']"
          class="signin__error-message"
          >{{ errorMessage }}</span
        >
        <span
          *ngIf="email.errors && email.errors['email']"
          class="signin__error-message"
          >The email is invalid</span
        >
      </div>
    </div>

    <div class="signin__field">
      <label for="signin-password" class="signin__label">password</label>
      <input
        formControlName="password"
        id="signin-password"
        type="text"
        class="signin__input" />
      <div
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="signup__error-container">
        <span
          *ngIf="password.errors && password.errors['required']"
          class="signin__error-message"
          >{{ errorMessage }}</span
        >
        <span
          *ngIf="password.errors && password.errors['validationPassword']"
          class="signin__error-message"
          >{{ password.errors['errorMessage'] }}</span
        >
      </div>
    </div>

    <div class="signin__link-signup">
      <p>if you don't have an account</p>
      <button (click)="routingToSignup()">Signup</button>
    </div>
    <button
      [disabled]="signinForm.invalid || isSubmitForm || isNotFoundException"
      class="signin__btn"
      type="submit">
      SIGNIN
    </button>
  </form>
</main>
