<main class="signin__container">
  <form class="signin__form">
    <p class="signin__title">Signin</p>
    <div class="signin__field">
      <label for="signin-email" class="signin__label">email</label>
      <input id="signin-email" type="text" class="signin__input" />
    </div>
    <div class="signin__field">
      <label for="signin-password" class="signin__label">password</label>
      <input id="signin-password" type="text" class="signin__input" />
    </div>
    <button class="signin__btn">SIGNIN</button>
  </form>
</main>
