<div class="people-details">
  <div class="people-details__title">People conversation</div>
  <button (click)="deletePeopleDialog()" class="people-details__btn">
    <div class="people-details__btn-delete-img"></div>
  </button>
  <div class="people-details__header">
    <div class="people-details__box-update">
      <button
        [disabled]="timerPeopleSubscription | async"
        (click)="updateMessage()"
        [class]="
          (timerPeopleSubscription | async)
            ? 'people-details__btn-disabled'
            : 'people-details__btn_update'
        ">
        <div
          [class]="
            (timerPeopleSubscription | async)
              ? 'people-details__btn-img-disabled'
              : 'people-details__btn-update-img'
          "></div>
      </button>
      <p>Update message:</p>
      <div *ngIf="timerPeopleSubscription | async">
        {{ timerPeopleSubscription | async }} second
      </div>
    </div>
    <a class="people-details__link" [routerLink]="['/']">Go to Home</a>
  </div>

  <div class="people-details__main">
    <ul *ngIf="peopleMessage$ | async as message" class="people-details__list">
      <li
        *ngFor="let item of message | dateSort"
        [ngClass]="item.authorID.S === uid ? 'message' : 'message-outside'"
        class="message">
        <div class="message__img"></div>
        <div class="message__content">
          <div class="message__header">
            <div class="message__author">
              {{ item.authorID.S | nameUserTransformPipe: peopleList }}
            </div>
            <div class="message__data">
              {{ item.createdAt.S | date: 'medium' }}
            </div>
          </div>
          <div class="message__text">{{ item.message.S }}</div>
        </div>
      </li>
    </ul>
  </div>

  <div class="people-details__footer">
    <form
      *ngIf="peopleMessageForm"
      class="people-details__form"
      [formGroup]="peopleMessageForm">
      <label class="people-details__label" for="people-message"></label>
      <input
        placeholder="Enter the message"
        formControlName="peopleMessageControl"
        id="people-message"
        type="text"
        class="people-details__input" />
      <button
        [ngClass]="
          peopleMessageControl.invalid
            ? 'people-details__btn-message-error'
            : 'people-details__btn-message'
        "
        (click)="createMessage()"
        [disabled]="peopleMessageControl.invalid"
        class="people-details__btn-message">
        Add
      </button>
    </form>
  </div>
  <div class="people-details__popup-delete" *ngIf="isShowDeletePeopleDialog">
    <p>Are you sure?</p>
    <div class="people-details__popup-box-btn">
      <button
        (click)="confirmDeletePeopleDialog(currentPeopleId)"
        class="people-details__popup-btn">
        Yes
      </button>
      <button
        (click)="noConfirmDeletePeopleDialog()"
        class="people-details__popup-btn">
        No
      </button>
    </div>
  </div>
</div>
