.header__sorting-wrapper {
    background: #D9D8D8;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.header__btn-filter-search,
.header__btn-filter-count {
    text-decoration: underline;
}

.header__filter-field {
    border: none;
    background: #FFFFFF;
}