.not-found {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.not-found__container {
    display: flex;
    align-items: center;
    width: 40%;
    max-width: 360px;
    margin: 100px 0 0 0;
}
.not-found__title {
    font-size: 24px;
    color: #828282;
    margin: 0 0 0 15px;
}