.header {
    background: #D9D8D8;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    position: relative;
}

.search__result {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}