<app-header
  class="header"></app-header>
  <!-- (clickShowItems)="onClickedGetResponse($event)" -->

  <!-- (clickIsShow)="onClickedShowFilerBlock($event)" -->
<!-- <app-filter
  (eventSortDate)="onClickedSortDate()"
  (eventSortView)="onClickedSortView()"
  (eventSortWord)="onClickedSortWord($event)"
  class="filter"></app-filter> -->
  <!-- [isShow]="showFilterBlock" -->

<app-search-results
  class="search__result"></app-search-results>
  <!-- [ascendDate]="ascendDate"
  [isSortDate]="isSortDate"
  [ascendView]="ascendView"
  [filterInputValue]="filterInputValue"
  [isSortView]="isSortView" -->
  <!-- [items]="itemResponse" -->

