<img class="header__logo" src="../../../assets/icon-youtube.png" alt="icon" />
<input [(ngModel)]="search" class="header__search-field" type="text" />
<button
  class="header__btn-search"
  color="primary"
  (click)="addSearchResponse()"
  mat-raised-button>
  Search
</button>
<button mat-icon-button (click)="showFilterBlock()">
  <img
    class="header__icon-setting"
    src="../../../assets/search_settings.png"
    alt="icon" />
</button>
<p class="header__user-text">Your name</p>
<img
  class="header__icon-user"
  src="../../../assets/icon-login.png"
  alt="icon" />
