<div class="details">
  <a routerLink="/youtube">
    <button class="details__btn">
      <div class="arrow_back"></div>
    </button>
  </a>
  <div class="details__container">
    <img
      [src]="currentItem.snippet.thumbnails.high.url"
      alt="video"
      class="video_img" />
    <div appBorderColor class="details__content">
      <div class="details__box">
        <div class="title_container">
          <p class="video_title">{{ currentItem.snippet.channelTitle }}</p>
          <p class="date">
            {{ currentItem.snippet.publishedAt | date: 'fullDate' }}
          </p>
        </div>
        <p class="description_title">Description:</p>
        <p class="description_content">{{ currentItem.snippet.title }}</p>
      </div>
      <app-card-icon [item]="currentItem" class="statistic"></app-card-icon>
    </div>
  </div>
</div>
