<div class="details">
    <button class="details__btn">
        <div class="arrow_back"></div>
    </button>
    <div class="details__container">
      <img src="../../../../assets/video.png" alt="video" class="video_img" />
      <div class="details__content">
        <div class="title_container">
          <p class="video_title">Kuji Podcast #19</p>
          <p class="date">Thursday, May 20, 2019</p>
        </div>
        <p class="description_title">Description:</p>
        <p class="description_content"></p>
        <p class="description_content"></p>
        <app-card-icon class="statictic"></app-card-icon>
      </div>
    </div>
  </div>
